  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="">Pagina 1</a></li>
        <li><a href="">Pagina 2</a></li>
        <li><a href="">Pagina 3</a></li>
      </ul>
    </div>
  </nav>