<div class="container" style="display: grid; place-content: center;">
    <h1> Servicio no disponible </h1>
    <h2> Intentalo mas tarde </h2>
    <div class="container" style="display: grid; place-content: center;">
        <img src="{{url}}" width="300" height="300">
    </div>
</div>
